.card {
    border: 5px rgb(99, 99, 99) solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
    position: relative;
    box-shadow: 4px 4px 10px rgb(56, 56, 56);
    transition: all .2s ease-in-out;
  }
  /* Adds hover animation to card when moused over. */
  .card:hover {
    box-shadow: 10px 5px 25px rgb(56, 56, 56);
    transform: scale(1.05);
    cursor: pointer;
  }
  .card:active {
    transform: translate(1px, 1px);
  }
  /* Selects all img-container elements where the parent is a card element */
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background:rgb(255, 255, 255);
  }
  /* Selects all img elements with a parent of an img-container then selects elements where the parent is a card element */  
  .card > .img-container > img {
    height: 100%;
  }