nav {
    background-color: rgb(10, 0, 56);
    border-bottom: 5px solid #fed420;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
  }
  
  a {
    color: #ffd000;
  }
  
  a:hover {
    color: #ffd000;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 25px 10%;
    width: 20%;
  }
  
  ul {
    display: flex;
    align-items: center;
  }

  #cur-sco, #top-sco, #rw {
    color: #ffd000;
  }
  
  @media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      color: #ffd000;
      font-size: 2rem;
    }
  }